:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  --primary-txt: #757575;
  --secondary-txt: #212121;
  --accent-txt: #2196f3;

  --primary-btn-txt: #212121;
  --primary-btn-bgc: #f5f4fa;
  --secondary-btn-txt: #ffffff;
  --secondary-btn-bgc: #2196f3;

  --primary-bg: #fff;
  --secondary-bg: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-txt);
  background-color: var(--primary-bg);
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-family: inherit;
  cursor: pointer;

  border: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;

  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */
.header {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #ececec;
  background-color: var(--primary-bg);
}
/* Logo */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: #000000;
}

.logo-accent {
  color: #2196f3;
}

/* Site-Navigation */

.nav {
  margin-left: 93px;
}
.site-nav {
  display: flex;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.nav-item {
}

.nav-link {
  padding: 32px 0;
  display: block;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-txt);
}

/* Contact-navigation */

.contact {
  display: flex;
  margin-left: auto;
}

.contact-item + .contact-item {
  margin-left: 50px;
}

.contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Hover-header*/
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-txt);
}

.current-nav {
  color: var(--accent-txt);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-txt);
}

/* Main */
/* Hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--secondary-btn-txt);
  background-color: var(--secondary-btn-bgc);
}

.hero-btn:hover {
  background-color: #188ce8;
}

/* Section */
.section {
  padding: 94px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.167;
  text-align: center;

  color: var(--secondary-txt);
}

/* Особенности */

.features.section {
  padding-bottom: 0;
}

.features-list {
  display: flex;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-txt);
}

/* Чем мы занимаемся */

.services-list {
  display: flex;
}

/* Наша команда */
.command-section {
  background-color: var(--secondary-bg);
}

.command-list {
  display: flex;
}

.command-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--secondary-txt);
}
.command-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Portfolio */

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: var(--primary-btn-txt);
  background-color: var(--primary-btn-bgc);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--secondary-btn-txt);
  background-color: var(--secondary-btn-bgc);
}

/* Portfolio cards */

.portfolio-filters {
  display: flex;
  justify-content: center;

  margin-bottom: 80px;
}
.portfolio-filters .item + .item {
  margin-left: 8px;
}

.portfolio-btn {
  padding: 6px 22px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  flex-basis: calc((100%-90px / 3);
  margin-left: 30px;
  margin-top: 30px;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-txt);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
}

/* Footer */
.footer {
  background-color: var(--footer-bg-color);
}
.footer-logo {
  color: #ffffff;
}

.address-link {
  font-style: normal;

  color: rgba(255, 255, 255, 0.6);
}

.address-link.location {
  color: #ffffff;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-txt);
}
