:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;

  --primary-btn-text-color: #212121;
  --primary-btn-bgc-color: #f5f4fa;
  --secondary-btn-text-color: #ffffff;
  --secondary-btn-bgc-color: #2196f3;

  --section-secondary-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: #fff;
}

.btn {
  font-family: inherit;
  cursor: pointer;

  border: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;

  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */
/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: #000000;
}

.logo-accent {
  color: #2196f3;
}

/* Site-Navigation */
.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

/* Contact-navigation */

.contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Hover-header*/
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
}

.current-nav {
  color: var(--accent-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-text-color);
}

/* Main */
/* Hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--secondary-btn-text-color);
  background-color: var(--secondary-btn-bgc-color);
}

.hero-btn:hover {
  background-color: #188ce8;
}

/* Section */

.section-title {
  font-size: 36px;
  line-height: 1.167;
  text-align: center;

  color: var(--secondary-text-color);
}

/* Особенности */

.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

/* Чем мы занимаемся */

/* Наша команда */
.section.command {
  background-color: var(--section-secondary-color);
}

.command-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--secondary-text-color);
}
.command-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Portfolio */

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: var(--primary-btn-text-color);
  background-color: var(--primary-btn-bgc-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--secondary-btn-text-color);
  background-color: var(--secondary-btn-bgc-color);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;

  color: var(--primary-text-color);
}

/* Footer */
.footer {
  background-color: var(--footer-bg-color);
}
.footer-logo {
  color: #ffffff;
}

.address-link {
  font-style: normal;

  color: rgba(255, 255, 255, 0.6);
}

.address-link.location {
  color: #ffffff;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-text-color);
}
